---
import BaseLayout from "../layouts/BlogLayout.astro";
const pageTitle = "Sobre mi";
---

<BaseLayout title={pageTitle}>
  <section class="nes-container is-dark">
    <section class="message-list">
      <section class="message -left">
        <div class="nes-balloon from-left is-dark">
          <p>
            ¡Hola! Mi nombre es Bruno <i class="nes-squirtle"></i>
          </p>
        </div>
      </section>

      <section class="message -right">
        <div class="nes-balloon from-right is-dark">
          <p>Web developer y Desarrolladore de video juegos</p>
        </div>
      </section>

      <section class="message -left">
        <div class="nes-balloon from-left is-dark">
          <p>Este blog está hecho con Astro y NES.css</p>
        </div>
      </section>

      <section class="message -right">
        <div class="nes-balloon from-right is-dark">
          <p>
            Si quieres seguirme, mira el pie de página <i
              class="nes-icon is-large heart"></i>
          </p>
        </div>
        <i class="nes-kirby"></i>
      </section>
    </section>
  </section>
</BaseLayout>
