---
import BlogLayout from "../layouts/BlogLayout.astro";
import PostCard from "../blogComponents/PostCard/PostCard.astro";
const postsList = await Astro.glob("../pages/posts/*.md");
---

<BlogLayout title="Blog entries">
  <ul class="post-list">
    {
      postsList.map((post) => (
        <li>
          <PostCard
            image={post.frontmatter.image}
            url={post.url}
            title={post.frontmatter.title}
          />
        </li>
      ))
    }
  </ul>
</BlogLayout>
