---
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';
---

<Layout title="Home">
	<div class="pb-12 mt-5">
		<div class="text-5xl font-bold">BoFoWeb</div>
		<div class="py-2">
		  <text class="text-lg">
			programador web y Q&A tester
		  </text>
		</div>
		<div class="mt-8">
		  <a class="btn" href="mailto:doneber.dev@gmail.com" target="_blank">
			Contactame
		  </a>
		</div>
		<div>
			<ProjectCard
			title="BoFoWeb",
			desc="Mi portafolio personal",
			img="/screens/bofoweb.png",
			link="https://bofoweb.vercel.app/"
			/>
		</div>

	  </div>
</Layout>
