---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<Layout title="BoFoWeb">
  <div class="pb-12 mt-5">
    <div
      class="banner relative flex items-center justify-center h-screen text-white"
      style="background-image: url('/img/bannerbofoweb.png'); background-size: cover;"
    >
      <div>
        <h1 class="text-5xl font-bold">BofoWeb</h1>

        <div class="py-2">
          <text class="text-lg"> programador web y Q&A tester</text>
        </div>

        <div class="mt-8">
          <a class="btn" href="mailto:brufazio8@gmail.com" target="_blank">
            Contactame
          </a>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h2 class="text-3xl font-bold pb-12 justify-center ml-12">Proyectos</h2>
  </div>
  <div class="card-wrapper">
    <ProjectCard
      title="Back To The Mesozoic"
      ,
      desc="Mi primer juego en equipo"
      ,
      img="/screens/back to the mesozoic.png"
      ,
      link="https://mechabrain.itch.io/back-to-the-mezosoic"
    />

    <ProjectCard
      title="Tostao Café"
      desc="Ecommerce Café"
      ,
      img="/screens/tostaocafe.png"
      ,
      link="https://tostao-coffe.onrender.com/"
    />

    <ProjectCard
      title="Huerta NES"
      ,
      desc="Proyecto educativo"
      ,
      img="/screens/huerta nes.png"
      ,
      link="https://onurbsofa.github.io/Huerta-NES/"
    />
  </div>
</Layout>

<style>
  .banner {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
  }

  .card-wrapper {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr;
    padding-bottom: 3rem;
  }

  @media (min-width: 640px) {
    .card-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
