---

---

<footer class="footer footer-center block mb-5 pt-10">
    <div class="inline opacity-75">
      ¿Quieres contactar? Escribeme a 
      <a href="mailto:doneber.dev@gmail.com" target="_blank" class="font-bold">brunofazio466@gmail.com</a>
    </div>
  </footer>