---
const { title, desc, img, link } = Astro.props;
---

<div
  class="rounded-lg bg-base-100 shadow-md hover:shadow-xl transition ease-in-out hover:scale-[101%] h-[26rem] hover:  group"
>
  <div class="p-4 flex-col items-start">
    <img
      src={img}
      alt={title}
      class="w-full h-[20rem] object-cover rounded-lg mb-4"
    />
    <h2 class="text-2xl font-bold mb-2">{title}</h2>
    <div
      class="transform scale-y-0 transition-all duration-200 ease-in hover:scale-y-100"
    >
      <p class=" hidden text-base text-white-600 mb-4">{desc}</p>
    </div>
  </div>
</div>
