@font-face {
  font-family: "Press Start 2P";
  src: url("/fonts/PressStart2P-Regular.ttf") format("truetype");
}

body {
  font-family: "Press Start 2P";
  margin: 0 auto;
  width: 100%;
  background-color: #4a314d;
  color: #cc5803;
  padding: 1rem;
  line-height: 1.5;
  min-height: 100vh;
  display: grid;
  grid:
    "header" auto
    "main" 1fr
    "footer" auto;
  gap: 1rem;
}

header {
  grid-area: "header";
}

main {
  grid-area: "main";
}

footer {
  grid-area: "footer";
}
