---
interface Props {
  title: string;
}

const { title } = Astro.props;
import "nes.css/css/nes.min.css";
import Footer from "../blogComponents/Footer/Bfooter.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <h1></h1>
      <slot />
      <link rel="stylesheet" href="/styles/global.css" />
    </main>
    <Footer />
  </body>
</html>
