---
import "./Bfooter.css";
---
<footer>
<div class="icon-list">
  <span>Mis redes</span>
  <!-- instagram -->
  <i class="nes-icon instagram is-medium"></i>

  <!-- github -->
  <i class="nes-icon github is-medium"></i>

  <!-- medium -->
  <i class="nes-icon medium is-medium"></i>

  <!-- linkedin -->
  <i class="nes-icon linkedin is-medium"></i>

  <!-- twitch -->
  <i class="nes-icon twitch is-medium"></i>
  
  <!-- youtube -->
  <i class="nes-icon youtube is-medium"></i>

  <!-- reddit -->
  <i class="nes-icon reddit is-medium"></i>
</div>
</footer>