---
import "./Bfooter.css";
---
<footer>
<div class="icon-list">
  <span>Mis redes</span>
  <!-- instagram -->
  <i class="nes-icon instagram is-small"></i>

  <!-- github -->
  <i class="nes-icon github is-small"></i>

  <!-- google -->
  <i class="nes-icon google is-small"></i>

  <!-- gmail -->
  <i class="nes-icon gmail is-small"></i>

  <!-- medium -->
  <i class="nes-icon medium is-small"></i>

  <!-- linkedin -->
  <i class="nes-icon linkedin is-small"></i>

  <!-- twitch -->
  <i class="nes-icon twitch is-small"></i>

  <!-- youtube -->
  <i class="nes-icon youtube is-small"></i>

  <!-- reddit -->
  <i class="nes-icon reddit is-small"></i>
</div>
</footer>