---
import "./Bfooter.css";
---

<footer>
  <div className="icon-list">
    <span>Mis redes</span>
    <!-- instagram -->
    <i className="nes-icon instagram is-medium"></i>

    <!-- github -->
    <i className="nes-icon github is-medium"></i>

    <!-- medium -->
    <i className="nes-icon medium is-medium"></i>

    <!-- linkedin -->
    <i className="nes-icon linkedin is-medium"></i>

    <!-- twitch -->
    <i className="nes-icon twitch is-medium"></i>

    <!-- youtube -->
    <i className="nes-icon youtube is-medium"></i>

    <!-- reddit -->
    <i className="nes-icon reddit is-medium"></i>
  </div>
</footer>
