---
import "./Navigation.css";
---

<nav>
  <ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/blog">Entries</a></li>
    <li><a href="/tags">Categorias</a></li>
    <li><a href="/AboutMe">About</a></li>
  </ul>
</nav>
