---
import "./Navigation.css";
---
<nav>
    <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Entries</a></li>
        <li><a href="#">Proyectos</a></li>
    </ul>
</nav>